h1 { color: #FFFFFF; font-family: Impact, Charcoal, sans-serif; font-size: 24px; text-align: center; }
h2 { font-family: Arial, Veranda, sans-serif; font-size: 20px; text-align: center; color: #0B0B61; }
body { color: #FFFFFF; font-family: Impact, Charcoal, sans-serif; background-color:#000000; background-repeat:no-repeat; background-position:center; background-attachment:fixed: }
table { width 500; border 2px; text-align:center; border-color #9999cc; border-style: outset; border-spacing: 1px; border-collapse: seperate; padding: none; margin-left:auto; margin-right:auto; }
th { text-align:center; vertical-align:center; border: 1px; border-style:outset; border-width:1px; border-color:#000000; }
tr { vertical-align:middle; border:2px; border-color:#000000; }
td { vertical-align:middle; border:1px; border-style:inset; border-width:2px; border-color:#000000; padding:none; text-align:center; }
/******************ID's****************/
#table-nav table { width: 502; border: 0px; align: center; border-spacing: 2px; border-collapse: seperate; padding: none;
/*	margin-left:auto; margin-right:auto; */ margin: 0 auto; }
#table-nav th { text-align: center; vertical-align: middle; border: 3px; border-color: #000000; col-span: 5; }
#table-nav tr { vertical-align: middle; border: 0px; }
#table-nav td { vertical-align: middle; font-size: 1em; border:0px; border-width: 0px; border-color: #000000; padding: none; text-align:center; }

#table-body table { width 500; table-layout: fixed; border 2px; align: center; text-align:center; border-color #9999cc; border-style: outset; border-spacing: 1px; border-collapse: seperate; padding: none; word-wrap: break-all; margin-left:auto; margin-right:auto; }
#table-body th { text-align:center; vertical-align:center; border: 1px; border-style:outset; border-width:1px; border-color:#000000; }
#table-body tr { vertical-align:middle; border:2px; border-color:#000000; }
#table-body td { vertical-align:middle; border:1px; border-style:inset; border-width:2px; border-color:#000000; padding:none; text-align:center; }
#table-links table { background-color: #ffffff; width: 500; table-layout: fixed; border: 2px; text-align:center; border-color: #9999cc; border-style: outset; border-spacing: 1px; border-collapse: seperate; padding: none; word-wrap: break-word; margin-left:auto; margin-right:auto; }
#table-links th { text-align:center; margin-top: -20px; padding: none; vertical-align:center; border: 1px; border-style:outset; border-width:1px; border-color:#000000; position:relative; }
#table-links tr { height: 45px; vertical-align:middle; border:2px; border-color:#f2f2f2; }
#table-links td { vertical-align:middle; border:1px; border-style:inset; border-width:2px; border-color:#000000; padding: 5px; text-align:center; }
.cascade { display: none; }
.button { background-color: #f44336; /* Red */ }
.btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:focus,
.btn-danger.focus { color: #fff; background-color: #c9302c; border-color: #761c19; }
.btn-danger:hover { color: #fff; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger { color: #fff; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus { color: #fff; background-color: #ac2925; border-color: #761c19; }
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger { background-image: none; }
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus { background-color: #d9534f; border-color: #d43f3a; }
.btn-danger .badge { color: #d9534f; background-color: #fff; }
